* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7f0;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 34px;
  width: 1111px;
  /* height: 64px; */
}

.nav_button {
  border-radius: 28px;
  background-color: #000;
  color: #fff;
  height: 56px;
  width: 228px;
}

.tittle {
  text-align: center;
  padding: 20px;
}

.tittle h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tittle p {
  color: #7a746e;
  width: 730px;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 500;
  margin-top: 23px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 164px);
  grid-template-rows: repeat(2, 182px);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-bottom: 136px;
}

.box {
  border-radius: 8px;
}

.box span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding: 24px;
  float: left;
}

.box img {
  float: right;
  padding-top: 24px;
  padding: 24px;
}

.box_graphic {
  background-color: #755cde;
  grid-column: 1/3;
  grid-row: 1/3;
}

.box_graphic span {
  margin-top: 77px;
}

.box_ui {
  background-color: #f6a560;
  grid-column: 3/4;
}

.box_apps {
  background-color: #f39e9e;
  grid-column: 4/5;
}

.box_photo {
  background-color: #61c4b7;
  grid-column: 5/7;
}

.box_ilustrations {
  background-color: #eb7565;
  grid-column: 3/5;
}

.box_ilustrations span {
  margin-top: 110px;
}

.box_motion {
  background-color: #552049;
  grid-column: 5/7;
}

.about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 445px;
  margin-bottom: 88px;
}

.about_me img {
  width: 445px;
  height: 445px;
}

.container_text {
  width: 540px;
  height: 306px;
}

.container_text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 34px;
}

.container_text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 34px;
  color: #7a746e;
  text-align: justify;
}

.about_me button {
  width: 228px;
  height: 56px;
  background: #eb7565;
  border-radius: 28px;
  color: #fff;
  border: none;
}

.carrusel {
  width: 100%;
}

.carrusel h3 {
  margin-bottom: 56px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.carrusel_img {
  display: flex;
  gap: 56px;
}

.carrusel_img img {
  /*  width: 540px;
  height: 360px; */
}

.container_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 320px;
  background-color: #000;
}

.contact_text {
  color: #fff;
}

.contact_text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 65px;
  width: 540px;
}

.contact_text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 25px;
  margin-left: 65px;
  width: 540px;
}

.container_button {
  padding: 140px;
}
.contact_button {
  width: 228px;
  height: 56px;
  background: #eb7565;
  border-radius: 28px;
  color: #fff;
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 34px 0;
  width: 1110px;
}

.footer_button {
  border-radius: 28px;
  background-color: #000;
  color: #fff;
  height: 56px;
  width: 228px;
}
